.item-details .main .container .row img{
    max-width: 540px;
    max-height: 450px;
    width: fit-content;
}

.item-details .main .container .row .content{
    display: flex;
    flex-direction: column;
    text-align: center;
    justify-content: center;
}

.item-details .main .container .row .information{
    display: flex;
    flex-direction: column;
    text-align: center;
    justify-content: center;
}